.container {
  padding: 5rem 10rem 0 10rem;
  background-color: #eeeeee;
  height: calc(100vh - 9rem);

  h1 {
    font-size: 5rem;
    text-align: center;
  }
}

.contents {
  padding: 2rem;
  border-radius: 3rem;
  max-width: 70rem;
  margin: 0 auto;
}

.wrap {
  margin-bottom: 2rem;
  .subtit {
    font-size: 2rem;
    font-weight: 700;
  }
}

.category {
  padding: 0.2rem;
  width: 5rem;
  text-align: center;
  display: flex;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

.inputRow {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.inputArea {
  flex: 1;
  min-width: 0;
}

.todoItem {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  margin-bottom: 1.5rem;

  .itemList {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}

.buttonGroup {
  display: flex;
  gap: 1rem;
}
.loginArea {
  width: 30rem;
  margin-left: auto;
}
