.container {
  padding: 5rem 10rem;
  background-color: #eeeeee;

  h1 {
    font-size: 5rem;
    text-align: center;
  }
}

.contents {
  background-color: #fff;
  padding: 2rem;
  border-radius: 3rem;
  max-width: 100rem;
  margin: 0 auto;
}

.wrap {
  margin-bottom: 2rem;
  .subtit {
    font-size: 2rem;
    font-weight: 700;
  }
}

.category {
  padding: 0.2rem;
  width: 5rem;
  text-align: center;
  display: flex;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

.inputRow {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.inputArea {
  flex: 1;
  min-width: 0;
  align-items: center;
}
